@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">HEY !!  Welcome 😊 </h3>
    <h4 class="display-4">Made with ❤️ By Tushar Kashyap</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
